/* -*- mode: text -*-
 *
 * resource.rc  -- resources
 *
 * $Id: resource.rc,v 1.43 2004/06/10 16:08:35 hos Exp $
 *
 */

#include <windows.h>
#include "resource.h"



/* language: english */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US


/* dialog */

IDD_MAIN_SETTING_PAGE DIALOG 0, 0, 371, 252
 STYLE WS_CHILD | WS_CAPTION
 CAPTION "Setting"
 FONT 8, "MS Sans Serif"
BEGIN
  CONTROL "Tree", IDC_SETTING_TREE, "SysTreeView32",
	  TVS_HASBUTTONS | TVS_HASLINES | TVS_SHOWSELALWAYS |
	  WS_BORDER | WS_TABSTOP,
	  7, 7, 136, 238

  CONTROL "", IDC_EVENT_UPPER_SUBPAGE, "Static",
	  WS_TABSTOP,
	  150, 7, 214, 115
  CONTROL "", IDC_EVENT_LOWER_SUBPAGE, "Static",
	  WS_TABSTOP,
	  150, 130, 214, 115
  CONTROL "", IDC_ACTION_SUBPAGE, "Static",
	  WS_TABSTOP,
	  150, 7, 214, 238
  CONTROL "", IDC_ACTION_LIST_SUBPAGE, "Static",
	  WS_TABSTOP,
	  150, 7, 214, 238
  CONTROL "", IDC_CONTROLLER_SUBPAGE, "Static",
	  WS_TABSTOP,
	  150, 7, 214, 238
  CONTROL "", IDC_TOP_SUBPAGE, "Static",
	  WS_TABSTOP,
	  150, 7, 214, 238
  CONTROL "Please select setting item", IDC_DEFAULT_SUBPAG, "Static",
	  WS_TABSTOP,
	  150, 7, 214, 238
END

IDD_EVENT_SUBPAGE DIALOG 0, 0, 214, 115
 STYLE WS_CHILD | DS_CONTROL
 FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "", IDC_GRP_EVENT, 0, 0, 214, 115, WS_GROUP

  CONTROL "EventList", IDC_LIST_EVENT, "SysListView32",
	  LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS |
	  LVS_NOSORTHEADER |
	  WS_BORDER | WS_TABSTOP,
	  7, 14, 200, 73

  PUSHBUTTON "Add", IDC_BTN_ADD_EVENT, 7, 94, 28, 14
  PUSHBUTTON "Del", IDC_BTN_DEL_EVENT, 42, 94, 28, 14, WS_DISABLED
  PUSHBUTTON "Edit", IDC_BTN_EDT_EVENT, 77, 94, 28, 14, WS_DISABLED
  PUSHBUTTON "", IDC_BTN_UP_EVENT, 182, 94, 9, 14,
	     BS_BITMAP | WS_DISABLED
  PUSHBUTTON "", IDC_BTN_DN_EVENT, 198, 94, 9, 14,
	     BS_BITMAP | WS_DISABLED
END

IDD_ACTION_LIST_SUBPAGE DIALOG 0, 0, 214, 238
 STYLE WS_CHILD | DS_CONTROL
 FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "Action list", IDC_STATIC, 0, 0, 214, 238, WS_GROUP

  CONTROL "ActionList", IDC_LIST_ACTION_LIST, "SysListView32",
	  LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS |
	  LVS_NOSORTHEADER |
	  WS_BORDER | WS_TABSTOP,
	  7, 14, 200, 196

  PUSHBUTTON "Add", IDC_BTN_ADD_ACTION_LIST, 7, 217, 28, 14
  PUSHBUTTON "Del", IDC_BTN_DEL_ACTION_LIST, 42, 217, 28, 14, WS_DISABLED
  PUSHBUTTON "Edit", IDC_BTN_EDT_ACTION_LIST, 77, 217, 28, 14, WS_DISABLED
  PUSHBUTTON "", IDC_BTN_UP_ACTION_LIST, 182, 217, 9, 14,
	     BS_BITMAP | WS_DISABLED
  PUSHBUTTON "", IDC_BTN_DN_ACTION_LIST, 198, 217, 9, 14,
	     BS_BITMAP | WS_DISABLED
END

IDD_ACTION_SUBPAGE DIALOG 0, 0, 214, 238
 STYLE WS_CHILD | DS_CONTROL
 FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "Action list", IDC_STATIC, 0, 0, 214, 238, WS_GROUP

  LTEXT "Name :", IDC_STATIC, 7, 17, 28, 8
  EDITTEXT IDC_EDIT_ACTION_NAME, 35, 14, 172, 14,
	   ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP

  CONTROL "Action", IDC_LIST_ACTION, "SysListView32",
	  LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS |
	  LVS_NOSORTHEADER |
	  WS_BORDER | WS_TABSTOP,
	  7, 35, 200, 175

  PUSHBUTTON "Add", IDC_BTN_ADD_ACTION, 7, 217, 28, 14
  PUSHBUTTON "Del", IDC_BTN_DEL_ACTION, 42, 217, 28, 14, WS_DISABLED
  PUSHBUTTON "Edit", IDC_BTN_EDT_ACTION, 77, 217, 28, 14, WS_DISABLED
  PUSHBUTTON "", IDC_BTN_UP_ACTION, 182, 217, 9, 14,
	     BS_BITMAP | WS_DISABLED
  PUSHBUTTON "", IDC_BTN_DN_ACTION, 198, 217, 9, 14,
	     BS_BITMAP | WS_DISABLED
END

IDD_CONTROLLER_SUBPAGE DIALOG 0, 0, 214, 238
 STYLE WS_CHILD | DS_CONTROL
 FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "Analog button", IDC_STATIC, 0, 0, 214, 80, WS_GROUP

  LTEXT "Sensitivity", IDC_STATIC, 7, 19, 63, 8
  CONTROL "SensitivitySlider", IDC_BTN_SENSITIVITY_SLIDER, "msctls_trackbar32",
	  TBS_HORZ | TBS_BOTTOM | TBS_NOTICKS | WS_TABSTOP,
	  70, 14, 130, 18
  LTEXT "Low", IDC_STATIC, 70, 32, 21, 8
  RTEXT "High", IDC_STATIC, 179, 32, 21, 8

  LTEXT "Threshold", IDC_STATIC, 7, 52, 63, 8
  CONTROL "ThresholdSlider", IDC_BTN_THRESHOLD_SLIDER, "msctls_trackbar32",
	  TBS_HORZ | TBS_BOTTOM | TBS_NOTICKS | WS_TABSTOP,
	  70, 47, 130, 18
  LTEXT "Low", IDC_STATIC, 70, 65, 21, 8
  RTEXT "High", IDC_STATIC, 179, 65, 21, 8

  GROUPBOX "Axis", IDC_STATIC, 0, 87, 214, 47, WS_GROUP
  LTEXT "Axis trigger sensitivity", IDC_STATIC, 7, 106, 63, 16
  CONTROL "ThresholdSlider", IDC_AXIS_THRESHOLD_SLIDER, "msctls_trackbar32",
	  TBS_HORZ | TBS_BOTTOM | TBS_NOTICKS | WS_TABSTOP,
	  70, 101, 130, 18
  LTEXT "Low", IDC_STATIC, 70, 119, 21, 8
  RTEXT "High", IDC_STATIC, 179, 119, 21, 8

  GROUPBOX "Viblation", IDC_STATIC, 0, 141, 214, 56, WS_GROUP
  CHECKBOX "Enable force feedback (not yet supported)",
	   IDC_ENABLE_VIBLATION_BUTTON,
	   7, 155, 200, 10,
	   BS_AUTOCHECKBOX | WS_DISABLED
  LTEXT "Test viblation", IDC_STATIC, 7, 176, 63, 8
  CONTROL "ViblationSlider", IDC_TEST_VIBLATION_SLIDER, "msctls_trackbar32",
	  TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,
	  70, 172, 130, 18
END

IDD_TOP_SUBPAGE DIALOG 0, 0, 214, 238
 STYLE WS_CHILD | DS_CONTROL
 FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "Profile", IDC_STATIC, 0, 0, 214, 77, WS_GROUP

  LTEXT "Name :", IDC_STATIC, 7, 17, 28, 8
  EDITTEXT IDC_EDIT_PROFILE_NAME, 35, 14, 172, 14,
	   ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP

  PUSHBUTTON "Save as...", IDC_BTN_SAVE_PROFILE, 130, 35, 35, 14
  PUSHBUTTON "Load...", IDC_BTN_LOAD_PROFILE, 172, 35, 35, 14

  PUSHBUTTON "Revert to Default", IDC_BTN_LOAD_DEF_PROFILE,
	     144, 56, 63, 14
END

IDD_EVENT_EDIT DIALOG 107, 58, 157, 137
 STYLE WS_POPUP | WS_CAPTION
 CAPTION "Edit action trigger"
 FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "Matching modifier", IDC_STATIC, 7, 7, 143, 62, WS_GROUP

  AUTO3STATE "", IDC_CHK_EVENT_MOD(1), 14, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(2), 31, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(3), 48, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(4), 65, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(5), 82, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(6), 99, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(7), 116, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(8), 133, 21, 10, 10,
	     WS_TABSTOP

  CTEXT "1", IDC_STATIC, 14, 31, 10, 8
  CTEXT "2", IDC_STATIC, 31, 31, 10, 8
  CTEXT "3", IDC_STATIC, 48, 31, 10, 8
  CTEXT "4", IDC_STATIC, 65, 31, 10, 8
  CTEXT "5", IDC_STATIC, 82, 31, 10, 8
  CTEXT "6", IDC_STATIC, 99, 31, 10, 8
  CTEXT "7", IDC_STATIC, 116, 31, 10, 8
  CTEXT "8", IDC_STATIC, 133, 31, 10, 8

  AUTO3STATE "", IDC_CHK_EVENT_MOD(9), 14, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(10), 31, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(11), 48, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(12), 65, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(13), 82, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(14), 99, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(15), 116, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_EVENT_MOD(16), 133, 46, 10, 10,
	     WS_TABSTOP

  CTEXT "9", IDC_STATIC, 14, 56, 10, 8
  CTEXT "10", IDC_STATIC, 31, 56, 10, 8
  CTEXT "11", IDC_STATIC, 48, 56, 10, 8
  CTEXT "12", IDC_STATIC, 65, 56, 10, 8
  CTEXT "13", IDC_STATIC, 82, 56, 10, 8
  CTEXT "14", IDC_STATIC, 99, 56, 10, 8
  CTEXT "15", IDC_STATIC, 116, 56, 10, 8
  CTEXT "16", IDC_STATIC, 133, 56, 10, 8

  GROUPBOX "Action list selection", IDC_STATIC, 7, 76, 143, 35, WS_GROUP
  LTEXT "Action list", IDC_STATIC, 14, 91, 42, 8
  COMBOBOX IDC_CMB_EVENT_ACTION, 56, 90, 86, 140,
	   CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL |
	   WS_VSCROLL | WS_TABSTOP

  DEFPUSHBUTTON "OK", IDOK, 43, 116, 50, 14
  PUSHBUTTON "Cancel", IDCANCEL, 100, 116, 50, 14
END

IDD_ACTION_NAME DIALOG 107, 101, 157, 49
 STYLE WS_POPUP | WS_CAPTION
 CAPTION "Action list name"
 FONT 8, "MS Sans Serif"
BEGIN
  LTEXT "Name :", IDC_STATIC, 7, 10, 28, 8
  EDITTEXT IDC_EDIT_NEW_ACTION_NAME, 35, 7, 115, 14,
	   ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP

  DEFPUSHBUTTON "OK", IDOK, 43, 28, 50, 14
  PUSHBUTTON "Cancel", IDCANCEL, 100, 28, 50, 14
END

IDD_ACTION_EDIT DIALOG 107, 36, 157, 199
 STYLE WS_POPUP | WS_CAPTION
 CAPTION "Edit action"
 FONT 8, "MS Sans Serif"
BEGIN
  LTEXT "Type :", IDC_STATIC, 7, 10, 28, 8
  COMBOBOX IDC_CMB_ACTION_TYPE, 35, 7, 115, 84,
	   CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL |
	   WS_VSCROLL | WS_TABSTOP

  CONTROL "", IDC_ACTION_EDIT, "Static", WS_TABSTOP,
	  0, 21, 157, 153

  DEFPUSHBUTTON "OK", IDOK, 43, 178, 50, 14
  PUSHBUTTON "Cancel", IDCANCEL, 100, 178, 50, 14
END

IDD_ACTION_EDIT_MOD DIALOG 0, 0, 157, 153
 STYLE WS_CHILD | DS_CONTROL
 FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "Change modifier", IDC_STATIC, 7, 7, 143, 62, WS_GROUP

  AUTO3STATE "", IDC_CHK_ACTION_MOD(1), 14, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(2), 31, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(3), 48, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(4), 65, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(5), 82, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(6), 99, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(7), 116, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(8), 133, 21, 10, 10,
	     WS_TABSTOP

  CTEXT "1", IDC_STATIC, 14, 31, 10, 8
  CTEXT "2", IDC_STATIC, 31, 31, 10, 8
  CTEXT "3", IDC_STATIC, 48, 31, 10, 8
  CTEXT "4", IDC_STATIC, 65, 31, 10, 8
  CTEXT "5", IDC_STATIC, 82, 31, 10, 8
  CTEXT "6", IDC_STATIC, 99, 31, 10, 8
  CTEXT "7", IDC_STATIC, 116, 31, 10, 8
  CTEXT "8", IDC_STATIC, 133, 31, 10, 8

  AUTO3STATE "", IDC_CHK_ACTION_MOD(9), 14, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(10), 31, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(11), 48, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(12), 65, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(13), 82, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(14), 99, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(15), 116, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_ACTION_MOD(16), 133, 46, 10, 10,
	     WS_TABSTOP

  CTEXT "9", IDC_STATIC, 14, 56, 10, 8
  CTEXT "10", IDC_STATIC, 31, 56, 10, 8
  CTEXT "11", IDC_STATIC, 48, 56, 10, 8
  CTEXT "12", IDC_STATIC, 65, 56, 10, 8
  CTEXT "13", IDC_STATIC, 82, 56, 10, 8
  CTEXT "14", IDC_STATIC, 99, 56, 10, 8
  CTEXT "15", IDC_STATIC, 116, 56, 10, 8
  CTEXT "16", IDC_STATIC, 133, 56, 10, 8
END

IDD_ACTION_EDIT_DELAY DIALOG 0, 0, 157, 153
 STYLE WS_CHILD | DS_CONTROL
 FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "Delay", IDC_STATIC, 7, 7, 143, 35, WS_GROUP

  LTEXT "Wait time :", IDC_STATIC, 14, 24, 35, 8
  EDITTEXT IDC_EDIT_ACTION_DELAY, 49, 21, 73, 14,
	   ES_RIGHT | WS_BORDER | WS_TABSTOP
  CONTROL "DelaySpin", IDC_SPIN_ACTION_DELAY, "msctls_updown32",
	  UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_ALIGNRIGHT |
	  UDS_SETBUDDYINT,
	  111, 21, 11, 14
  CTEXT "[ms]", IDC_STATIC, 122, 24, 21, 8
END

IDD_ACTION_EDIT_JOY DIALOG 0, 0, 157, 153
 STYLE WS_CHILD | DS_CONTROL
 FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "Joystick", IDC_STATIC, 7, 7, 143, 143, WS_GROUP

  LTEXT "Target", IDC_STATIC, 14, 24, 42, 8
  COMBOBOX IDC_CMB_ACTION_JOY_CODE, 56, 21, 86, 140,
	   CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL |
	   WS_VSCROLL | WS_TABSTOP

  LTEXT "Value type", IDC_STATIC, 14, 45, 42, 8
  COMBOBOX IDC_CMB_ACTION_JOY_TYPE, 56, 42, 86, 112,
	   CBS_DROPDOWNLIST |
	   WS_VSCROLL | WS_TABSTOP

  GROUPBOX "Range transformation", IDC_STATIC, 14, 63, 129, 80, WS_GROUP

  LTEXT "Before :", IDC_STATIC, 21, 80, 35, 8
  RTEXT "0", IDC_STATIC, 56, 80, 22, 8
  CTEXT "-", IDC_STATIC, 89, 80, 14, 8
  RTEXT "255", IDC_STATIC, 103, 80, 22, 8

  LTEXT "After  :", IDC_STATIC, 21, 94, 35, 8
  EDITTEXT IDC_EDIT_ACTION_JOY_VAL_MIN, 56, 91, 33, 14,
	   ES_RIGHT | WS_BORDER | WS_TABSTOP
  CONTROL "AfterMinSpin", IDC_SPIN_ACTION_JOY_VAL_MIN, "msctls_updown32",
	  UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_ALIGNRIGHT |
	  UDS_SETBUDDYINT | UDS_NOTHOUSANDS,
	  78, 91, 11, 14
  CTEXT "-", IDC_STATIC, 89, 94, 14, 8
  EDITTEXT IDC_EDIT_ACTION_JOY_VAL_MAX, 103, 91, 33, 14,
	   ES_RIGHT | WS_BORDER | WS_TABSTOP
  CONTROL "AfterMinSpin", IDC_SPIN_ACTION_JOY_VAL_MAX, "msctls_updown32",
	  UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_ALIGNRIGHT |
	  UDS_SETBUDDYINT | UDS_NOTHOUSANDS,
	  125, 91, 11, 14

  LTEXT "When transformed value less than 0 or greater than 255, it will be 0 or 255.",
	IDC_STATIC, 21, 112, 115, 24
END

IDD_ACTION_EDIT_APPLY DIALOG 0, 0, 157, 153
 STYLE WS_CHILD | DS_CONTROL
 FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "Matching modifier", IDC_STATIC, 7, 7, 143, 62, WS_GROUP

  AUTO3STATE "", IDC_CHK_APPLY_MOD(1), 14, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(2), 31, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(3), 48, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(4), 65, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(5), 82, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(6), 99, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(7), 116, 21, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(8), 133, 21, 10, 10,
	     WS_TABSTOP

  CTEXT "1", IDC_STATIC, 14, 31, 10, 8
  CTEXT "2", IDC_STATIC, 31, 31, 10, 8
  CTEXT "3", IDC_STATIC, 48, 31, 10, 8
  CTEXT "4", IDC_STATIC, 65, 31, 10, 8
  CTEXT "5", IDC_STATIC, 82, 31, 10, 8
  CTEXT "6", IDC_STATIC, 99, 31, 10, 8
  CTEXT "7", IDC_STATIC, 116, 31, 10, 8
  CTEXT "8", IDC_STATIC, 133, 31, 10, 8

  AUTO3STATE "", IDC_CHK_APPLY_MOD(9), 14, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(10), 31, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(11), 48, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(12), 65, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(13), 82, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(14), 99, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(15), 116, 46, 10, 10,
	     WS_TABSTOP
  AUTO3STATE "", IDC_CHK_APPLY_MOD(16), 133, 46, 10, 10,
	     WS_TABSTOP

  CTEXT "9", IDC_STATIC, 14, 56, 10, 8
  CTEXT "10", IDC_STATIC, 31, 56, 10, 8
  CTEXT "11", IDC_STATIC, 48, 56, 10, 8
  CTEXT "12", IDC_STATIC, 65, 56, 10, 8
  CTEXT "13", IDC_STATIC, 82, 56, 10, 8
  CTEXT "14", IDC_STATIC, 99, 56, 10, 8
  CTEXT "15", IDC_STATIC, 116, 56, 10, 8
  CTEXT "16", IDC_STATIC, 133, 56, 10, 8

  GROUPBOX "Action list selection", IDC_STATIC, 7, 76, 143, 35, WS_GROUP
  LTEXT "Action list", IDC_STATIC, 14, 91, 42, 8
  COMBOBOX IDC_CMB_APPLY_ACTION, 56, 90, 86, 140,
	   CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL |
	   WS_VSCROLL | WS_TABSTOP
END

IDD_ACTION_EDIT_KBD DIALOG 0, 0, 156, 153
 STYLE WS_CHILD | DS_CONTROL
 FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "Keyboard", IDC_STATIC, 7, 7, 143, 58, WS_GROUP

  LTEXT "Key", IDC_STATIC, 14, 24, 42, 8
  COMBOBOX IDC_CMB_ACTION_KBD_CODE, 56, 21, 86, 140,
	   CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL |
	   WS_VSCROLL | WS_TABSTOP

  LTEXT "Value type", IDC_STATIC, 14, 45, 42, 8
  COMBOBOX IDC_CMB_ACTION_KBD_TYPE, 56, 42, 86, 112,
	   CBS_DROPDOWNLIST |
	   WS_VSCROLL | WS_TABSTOP
END

IDD_ACTION_EDIT_MOU DIALOG 0, 0, 157, 153
 STYLE WS_CHILD | DS_CONTROL
 FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "Mouse", IDC_STATIC, 7, 7, 143, 143, WS_GROUP

  LTEXT "Target", IDC_STATIC, 14, 24, 42, 8
  COMBOBOX IDC_CMB_ACTION_MOU_CODE, 56, 21, 86, 140,
	   CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL |
	   WS_VSCROLL | WS_TABSTOP

  LTEXT "Value type", IDC_STATIC, 14, 45, 42, 8
  COMBOBOX IDC_CMB_ACTION_MOU_TYPE, 56, 42, 86, 112,
	   CBS_DROPDOWNLIST |
	   WS_VSCROLL | WS_TABSTOP

  GROUPBOX "Range transformation", IDC_STATIC, 14, 63, 129, 80, WS_GROUP

  LTEXT "Before :", IDC_STATIC, 21, 80, 35, 8
  RTEXT "-127", IDC_STATIC, 56, 80, 22, 8
  CTEXT "-", IDC_STATIC, 89, 80, 14, 8
  RTEXT "127", IDC_STATIC, 103, 80, 22, 8

  LTEXT "After  :", IDC_STATIC, 21, 94, 35, 8
  EDITTEXT IDC_EDIT_ACTION_MOU_VAL_MIN, 56, 91, 33, 14,
	   ES_RIGHT | WS_BORDER | WS_TABSTOP
  CONTROL "AfterMinSpin", IDC_SPIN_ACTION_MOU_VAL_MIN, "msctls_updown32",
	  UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_ALIGNRIGHT |
	  UDS_SETBUDDYINT | UDS_NOTHOUSANDS,
	  78, 91, 11, 14
  CTEXT "-", IDC_STATIC, 89, 94, 14, 8
  EDITTEXT IDC_EDIT_ACTION_MOU_VAL_MAX, 103, 91, 33, 14,
	   ES_RIGHT | WS_BORDER | WS_TABSTOP
  CONTROL "AfterMinSpin", IDC_SPIN_ACTION_MOU_VAL_MAX, "msctls_updown32",
	  UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_ALIGNRIGHT |
	  UDS_SETBUDDYINT | UDS_NOTHOUSANDS,
	  125, 91, 11, 14

  LTEXT "When transformed value less than -127 or greater than 127, it will be 127 or 127.",
	IDC_STATIC, 21, 112, 115, 24
END

IDD_INPUT_TEST_PAGE DIALOG 0, 0, 371, 252
 STYLE WS_CHILD | WS_CAPTION
 CAPTION "Input test"
 FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "Axis", IDC_STATIC, 7, 7, 357, 84, WS_GROUP

  CTEXT "Y", IDC_STATIC, 14, 41, 8, 8
  CTEXT "X", IDC_STATIC, 22, 73, 50, 8
  CONTROL "", IDC_TEST_IN_AXIS_XY, "Static", SS_OWNERDRAW,
	  22, 21, 50, 50

  CTEXT "Z", IDC_STATIC, 81, 73, 50, 8
  CONTROL "", IDC_TEST_IN_AXIS_Z, "Static", SS_OWNERDRAW,
	  81, 59, 50, 14

  CTEXT "RY", IDC_STATIC, 140, 41, 8, 8
  CTEXT "RX", IDC_STATIC, 148, 73, 50, 8
  CONTROL "", IDC_TEST_IN_AXIS_RXRY, "Static", SS_OWNERDRAW,
	  148, 21, 50, 50

  CTEXT "RZ", IDC_STATIC, 209, 73, 50, 8
  CONTROL "", IDC_TEST_IN_AXIS_RZ, "Static", SS_OWNERDRAW,
	  209, 59, 50, 14

  CTEXT "Slider", IDC_STATIC, 270, 73, 50, 8
  CONTROL "", IDC_TEST_IN_AXIS_SLIDER, "Static", SS_OWNERDRAW,
	  270, 59, 50, 14

  CTEXT "Throttle", IDC_STATIC, 329, 73, 28, 8
  CONTROL "", IDC_TEST_IN_AXIS_THROTTLE, "Static", SS_OWNERDRAW,
	  336, 21, 14, 50

  GROUPBOX "Button", IDC_STATIC, 7, 98, 175, 147, WS_GROUP

  CONTROL "", IDC_TEST_IN_BTN(1), "Static", SS_OWNERDRAW,
	  14, 112, 14, 14
  CTEXT "1", IDC_STATIC, 14, 126, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(2), "Static", SS_OWNERDRAW,
	  35, 112, 14, 14
  CTEXT "2", IDC_STATIC, 35, 126, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(3), "Static", SS_OWNERDRAW,
	  56, 112, 14, 14
  CTEXT "3", IDC_STATIC, 56, 126, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(4), "Static", SS_OWNERDRAW,
	  77, 112, 14, 14
  CTEXT "4", IDC_STATIC, 77, 126, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(5), "Static", SS_OWNERDRAW,
	  98, 112, 14, 14
  CTEXT "5", IDC_STATIC, 98, 126, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(6), "Static", SS_OWNERDRAW,
	  119, 112, 14, 14
  CTEXT "6", IDC_STATIC, 119, 126, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(7), "Static", SS_OWNERDRAW,
	  140, 112, 14, 14
  CTEXT "7", IDC_STATIC, 140, 126, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(8), "Static", SS_OWNERDRAW,
	  161, 112, 14, 14
  CTEXT "8", IDC_STATIC, 161, 126, 14, 8

  CONTROL "", IDC_TEST_IN_BTN(9), "Static", SS_OWNERDRAW,
	  14, 146, 14, 14
  CTEXT "9", IDC_STATIC, 14, 160, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(10), "Static", SS_OWNERDRAW,
	  35, 146, 14, 14
  CTEXT "10", IDC_STATIC, 35, 160, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(11), "Static", SS_OWNERDRAW,
	  56, 146, 14, 14
  CTEXT "11", IDC_STATIC, 56, 160, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(12), "Static", SS_OWNERDRAW,
	  77, 146, 14, 14
  CTEXT "12", IDC_STATIC, 77, 160, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(13), "Static", SS_OWNERDRAW,
	  98, 146, 14, 14
  CTEXT "13", IDC_STATIC, 98, 160, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(14), "Static", SS_OWNERDRAW,
	  119, 146, 14, 14
  CTEXT "14", IDC_STATIC, 119, 160, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(15), "Static", SS_OWNERDRAW,
	  140, 146, 14, 14
  CTEXT "15", IDC_STATIC, 140, 160, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(16), "Static", SS_OWNERDRAW,
	  161, 146, 14, 14
  CTEXT "16", IDC_STATIC, 161, 160, 14, 8

  CONTROL "", IDC_TEST_IN_BTN(17), "Static", SS_OWNERDRAW,
	  14, 182, 14, 14
  CTEXT "17", IDC_STATIC, 14, 196, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(18), "Static", SS_OWNERDRAW,
	  35, 182, 14, 14
  CTEXT "18", IDC_STATIC, 35, 196, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(19), "Static", SS_OWNERDRAW,
	  56, 182, 14, 14
  CTEXT "19", IDC_STATIC, 56, 196, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(20), "Static", SS_OWNERDRAW,
	  77, 182, 14, 14
  CTEXT "20", IDC_STATIC, 77, 196, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(21), "Static", SS_OWNERDRAW,
	  98, 182, 14, 14
  CTEXT "21", IDC_STATIC, 98, 196, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(22), "Static", SS_OWNERDRAW,
	  119, 182, 14, 14
  CTEXT "22", IDC_STATIC, 119, 196, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(23), "Static", SS_OWNERDRAW,
	  140, 182, 14, 14
  CTEXT "23", IDC_STATIC, 140, 196, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(24), "Static", SS_OWNERDRAW,
	  161, 182, 14, 14
  CTEXT "24", IDC_STATIC, 161, 196, 14, 8

  CONTROL "", IDC_TEST_IN_BTN(25), "Static", SS_OWNERDRAW,
	  14, 216, 14, 14
  CTEXT "25", IDC_STATIC, 14, 230, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(26), "Static", SS_OWNERDRAW,
	  35, 216, 14, 14
  CTEXT "26", IDC_STATIC, 35, 230, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(27), "Static", SS_OWNERDRAW,
	  56, 216, 14, 14
  CTEXT "27", IDC_STATIC, 56, 230, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(28), "Static", SS_OWNERDRAW,
	  77, 216, 14, 14
  CTEXT "28", IDC_STATIC, 77, 230, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(29), "Static", SS_OWNERDRAW,
	  98, 216, 14, 14
  CTEXT "29", IDC_STATIC, 98, 230, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(30), "Static", SS_OWNERDRAW,
	  119, 216, 14, 14
  CTEXT "30", IDC_STATIC, 119, 230, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(31), "Static", SS_OWNERDRAW,
	  140, 216, 14, 14
  CTEXT "31", IDC_STATIC, 140, 230, 14, 8
  CONTROL "", IDC_TEST_IN_BTN(32), "Static", SS_OWNERDRAW,
	  161, 216, 14, 14
  CTEXT "32", IDC_STATIC, 161, 230, 14, 8

  GROUPBOX "POV", IDC_STATIC, 189, 98, 175, 68, WS_GROUP

  CONTROL "", IDC_TEST_IN_POV1, "Static", SS_OWNERDRAW,
	  218, 112, 47, 47
  CONTROL "", IDC_TEST_IN_POV2, "Static", SS_OWNERDRAW,
	  296, 112, 47, 47

  GROUPBOX "Modifier", IDC_STATIC, 189, 173, 175, 72, WS_GROUP

  CONTROL "", IDC_TEST_IN_MOD(1), "Static", SS_OWNERDRAW,
	  196, 187, 14, 14
  CTEXT "1", IDC_STATIC, 196, 201, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(2), "Static", SS_OWNERDRAW,
	  217, 187, 14, 14
  CTEXT "2", IDC_STATIC, 217, 201, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(3), "Static", SS_OWNERDRAW,
	  238, 187, 14, 14
  CTEXT "3", IDC_STATIC, 238, 201, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(4), "Static", SS_OWNERDRAW,
	  259, 187, 14, 14
  CTEXT "4", IDC_STATIC, 259, 201, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(5), "Static", SS_OWNERDRAW,
	  280, 187, 14, 14
  CTEXT "5", IDC_STATIC, 280, 201, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(6), "Static", SS_OWNERDRAW,
	  301, 187, 14, 14
  CTEXT "6", IDC_STATIC, 301, 201, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(7), "Static", SS_OWNERDRAW,
	  322, 187, 14, 14
  CTEXT "7", IDC_STATIC, 322, 201, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(8), "Static", SS_OWNERDRAW,
	  343, 187, 14, 14
  CTEXT "8", IDC_STATIC, 343, 201, 14, 8

  CONTROL "", IDC_TEST_IN_MOD(9), "Static", SS_OWNERDRAW,
	  196, 216, 14, 14
  CTEXT "9", IDC_STATIC, 196, 230, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(10), "Static", SS_OWNERDRAW,
	  217, 216, 14, 14
  CTEXT "10", IDC_STATIC, 217, 230, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(11), "Static", SS_OWNERDRAW,
	  238, 216, 14, 14
  CTEXT "11", IDC_STATIC, 238, 230, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(12), "Static", SS_OWNERDRAW,
	  259, 216, 14, 14
  CTEXT "12", IDC_STATIC, 259, 230, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(13), "Static", SS_OWNERDRAW,
	  280, 216, 14, 14
  CTEXT "13", IDC_STATIC, 280, 230, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(14), "Static", SS_OWNERDRAW,
	  301, 216, 14, 14
  CTEXT "14", IDC_STATIC, 301, 230, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(15), "Static", SS_OWNERDRAW,
	  322, 216, 14, 14
  CTEXT "15", IDC_STATIC, 322, 230, 14, 8
  CONTROL "", IDC_TEST_IN_MOD(16), "Static", SS_OWNERDRAW,
	  343, 216, 14, 14
  CTEXT "16", IDC_STATIC, 343, 230, 14, 8
END


/* string table */
STRINGTABLE
BEGIN
  IDS_ACTION_NAME "Action list name"
  IDS_ACTION_CNT "Elements"

  IDS_ACTION_TYPE "Type"
  IDS_ACTION_VALUE "Value"

  IDS_EVENT_MODIFIER "Modifier"
  IDS_EVENT_ACTION "Action list name"

  IDS_EVENT_H_MOTION "Horizontal motion"
  IDS_EVENT_V_MOTION "Vertical motion"
  IDS_EVENT_MOTION "Motion"
  IDS_EVENT_PRESS "Press"
  IDS_EVENT_RELEASE "Release"
  IDS_EVENT_ENTER "Enter"
  IDS_EVENT_LEAVE "Leave"

  IDS_MSG_ERROR "Error"

  IDS_MSG_FAIL_DEVICE_OUT "Failed to output device."
  IDS_MSG_FAIL_SAVE_SETTING "Failed to save setting."

  IDS_MSG_ENTER_ACTION_NAME "Please enter valid action list name."
  IDS_MSG_DEL_ACTION "Delete action"
  IDS_MSG_CONFIRM_DEL_ACTION "This action will be delete.\nAre you sure?"

  IDS_MSG_ERR_SELECT_ACTION "Please select action list."
  IDS_MSG_DEL_EVENT_TRG "Delete action trigger"
  IDS_MSG_CONFIRM_DEL_EVENT_TRG "This action trigger will be delete.\nAre you sure?"

  IDS_MSG_ACTION_LIST_USED "This action list is used by other event or action."
  IDS_MSG_DEL_ACTION_LIST "Delete action list"
  IDS_MSG_CONFIRM_DEL_ACTION_LIST "This action list will be delete.\nAre you sure?"

  IDS_MSG_ENTER_ACTION_DELAY_MSEC "Please enter valid wait time."

  IDS_MSG_SELECT_JOY_TARGET "Please select target."
  IDS_MSG_SELECT_JOY_TYPE "Please select value type."
  IDS_MSG_ENTER_ACTIO_JOY_VALUE "Please enter valid value."

  IDS_MSG_SELECT_MOU_TARGET "Please select target."
  IDS_MSG_SELECT_MOU_TYPE "Please select value type."
  IDS_MSG_ENTER_ACTIO_MOU_VALUE "Please enter valid value."

  IDS_MSG_SELECT_KBD_TARGET "Please select key."
  IDS_MSG_SELECT_KBD_TYPE "Please select value type."

  IDS_MSG_ENTER_PROFILE_NAME "Please enter valid profile name."
  IDS_MSG_CONFIRM_LOAD "Current setting will be discard.\nAre you sure?"
  IDS_MSG_LOAD_DEFAULT "Revert to Default"
  IDS_MSG_LOAD_FILE "Load profile"

  IDS_MSG_FAIL_LOAD_FILE "Failed to load profile."
  IDS_MSG_FAIL_SAVE_FILE "Failed to save profile."

  IDS_MSG_DEVICE_REMOVED "The device is removed from system.\nSetup will close."

  IDS_MSG_FAIL_THREAD_CREATE "Failed to create thread."

  IDS_SHEET_CAPTION "FlightStick 2"
END


/* bitmap */
IDB_ARROW_UP BITMAP "arrow_up.bmp"
IDB_ARROW_DN BITMAP "arrow_dn.bmp"


/* version info */
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0x01
 PRODUCTVERSION 0x01
 FILEFLAGSMASK 0x17L
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "Comments", "Control Panel for FlightStick 2 driver\0"
      VALUE "LegalCopyright", "\0"
      VALUE "FileDescription", "Control Panel for FlightStick 2 driver\0"
      VALUE "FileVersion", "1.1.2\0"
      VALUE "InternalName", "fs2cpl.dll\0"
      VALUE "OriginalFilename", "fs2cpl.dll\0"
      VALUE "ProductName", "Control Panel for FlightStick 2 driver\0"
      VALUE "ProductVersion", "1.1.2\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END


